<div ng-controller="signinCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#!home">MyApp</a> </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="pull-right nav nav-pills menu">
                                <li><a href="#!signin">Sign In</a></li>
                                <li><a href="#!signup">Sign Up</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Sign in </h1>
                <form class="sign-up" name="signin" novalidate>
                    <div class="form-group" ng-class="{'has-error' : 'signin.email.$touched && signin.email.$invalid'}">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" placeholder="Enter the Email" name="email" ng-model="user.email" required />
                        <small class="help-block" ng-show="signin.email.$touched && signin.email.$invalid">Enter the valid email</small> 
                    </div>
                    
                    <div class="form-group" ng-class="{'has-error' : 'signin.password.$touched && signin.password.$invalid'}">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" ng-minlength="6" required> 
                        <small class="help-block" ng-show="signin.password.$touched && signin.password.$error.minlength">Password will be min 6 letters</small> 
                    </div>
                    <span ng-show="errMsg">{{ errMessage }}</span>
                    <button type="submit" class="btn btn-primary" ng-click="signIn()" ng-disabled="signin.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>