.navbar {
     margin-bottom: 0px; 
}
.menu li{
    padding-right: 5rem;
    margin-top: 1.4rem;
}
hr {
    margin-top: 10px;
}
.menu a {
    font-size: 18px !important;
}
.btn_gap {
    margin-bottom: 2rem;
}
.custom_table td button {
        margin-right: 1rem;
}
.studet_details h3 {
    float: left;
        margin-top: 0px;
}
.studet_details form {
    float: left;
    padding-left: 3rem;
}
.studet_details input {
    width: 300px;
}
.success-msg {
       margin-left: 2rem;
    padding: 3px 20px !important;
}